* {
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: rgb(239, 217, 22);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: auto;
}

.cabecalho img {
  width: 8vw;
}

.titulo {
  font-weight: bold;
  color: black;
  font-size: 5vw;
}

nav .lista-navegação {
  position: absolute;
  margin: 15px;
}

.lista-navegacao li{
  display: inline-flex;
  margin-left: 15px;
  font-weight: bold;
  font-size: 1.5vw;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

body {
  max-width: 100vw;
  background-color: rgb(246, 240, 191);
}

main {
  display: flex;
  flex: 1;
  align-items: flex-start;
  margin: 20px 20px;
  gap: 20px;
}

.informativos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 30vw;
  background-color: black;
  border: 2px solid rgb(239, 217, 22);
}

.materia {
  margin: 2px;
  padding: 15px;
  align-items: center;
  text-align: center;
  color: wheat;
}

.ilustra-materia {
  max-width: 22vw;
}

.artigo {
  text-align: center;
  font-size: 15px;
  color: wheat;
  margin: 20px;
}

.titulo-materia {
  font-size: 25px;
  font-weight: bold;
  margin: 5px;
}

.link-materia{
  border: 3px solid rgb(239, 217, 22);
  background-color: rgb(247, 235, 119);
  text-align: center;
  padding: 5px;
  border-radius: 10%;
  font-weight: bold;
  margin: 15px;
  text-decoration: none;
}

.formulario-cadastro{
  margin: 10px;
  border: 2px solid rgb(239, 217, 22);
  background-color: black;
  width: 30vw;
  padding: 10px;
}

.titulo-form{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin: 3px;
  color: wheat;
}

.texto-form{
  color: wheat;
  font-style: italic;
  font-size: 16px;
  margin: 0px 3px 2px 2px;
}

.secao-formulario {
  background-color: rgb(248, 248, 238);
  align-items: center;
  border: 3px solid rgb(239, 217, 22);
  padding: 10px 20px
}

#formulario{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.subtitulo-form{
  font-size: 22px;
  margin: 15px;
  font-weight: bold;
  font-style: italic;
}

.rotulo{
  font-size: 16px;
  font-weight: bold;
  margin: 3px;
  align-self: left;
}

.form-group-button{
  display: flex;
  flex-direction: row;
  align-items: right;

}
form .button{
  border: 3px solid rgb(239, 217, 22);
  background-color: rgb(247, 235, 119);
  text-align: center;
  padding: 5px;
  border-radius: 10%;
  font-weight: bold;
  margin-left: 25px;
}

input {
  background-color: whitesmoke;
  border-color: rgb(239, 217, 22);
  width: 25vw;
}

.entrada{
  background-color: whitesmoke;
  border-color: rgb(239, 217, 22);
}

footer {
  margin-top: auto;
  background-color: black;
  color: rgb(239, 217, 22);
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: black;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(239, 217, 22);
  border-radius: 20px;
  border: 3px solid black;
}