* {
  font-family: 'Inter', sans-serif;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: rgb(239, 217, 22);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 40px;
  gap: 20px;
  justify-items: auto;
}

.cabecalho img {
  width: 8vw;
}

.titulo {
  font-weight: bold;
  color: black;
  font-size: 5vw;
}

h1 :hover {
  color: beige;
  text-transform: uppercase;
}

nav .lista-navegação {
  position: absolute;
  right: 10px;
}

nav li {
  display: inline-flex;
  margin-left: 15px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.itens :hover {
  text-decoration: overline;
  color: rgb(11, 11, 177);
}

body {
  max-width: 100vw;
  background-color: rgb(246, 240, 191);
}

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 20px 20px;
  padding: 10px 20px;
  gap: 20px;
}

.informativos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

}

.materia {
  margin: 2px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 10%;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.ilustra-materia {
  width: 200px;
}

.artigo {
  text-align: center;
}

.titulo-materia {
  font-size: 35px;
  font-weight: bold;
  margin: 5px;
}

.subtitulo :hover {
  font-size: 45px;
}

.formulario-cadastro{
  margin: 10px;
}

.titulo-form{
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin: 3px;
}

.texto-form{
  font-style: italic;
  font-size: 16px;
  margin: 0px 3px 2px 2px;
}

.secao-formulario {
  background-color: rgb(248, 248, 238);
  align-items: center;
  border: 3px solid rgb(239, 217, 22);
  padding: 10px 20px
}

#formulario{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.subtitulo-form{
  font-size: 22px;
  margin: 15px;
  font-weight: bold;
  font-style: italic;
}

.rotulo{
  font-size: 16px;
  font-weight: bold;
  margin: 3px;
  align-self: left;
}

.form-group-button{
  display: flex;
  flex-direction: row;
  align-items: right;

}
form .button{
  border: 3px solid rgb(239, 217, 22);
  text-align: center;
  padding: 5px;
  border-radius: 10%;
  font-weight: bold;
  margin-left: 25px;
}

footer {
  margin-top: auto;
  background-color: black;
  color: rgb(239, 217, 22);
  font-weight: bold;
  text-align: center;
  padding: 10px 15px;
}